streamlit
opencv-python-headless
segment-anything
torch
torchvision
numpy
Pillow
scipy
streamlit-javascript
streamlit-drawable-canvas
requests
# streamlit-image-coordinates  # Not currently used in app.py
